apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: ${GKE_NAMESPACE}
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 4000
      targetPort: 4000
  type: LoadBalancer
